{% extends 'algoritmmanagement/base.html' %}

{% block content %}







<div id="myTabContent" class="tab-content">
  
    <div class="tab-pane fade in active" id="o">

    </div>

    <div class="tab-pane fade" id="tab1">
    <div class="tab-pane fade in active" id="tab1">
        <div class="container">              





            <form id="survey-form" class="col-25" method="post" enctype="multipart/form-data" data-scroll-reveal="enter from the bottom after 0.4s">
                {% csrf_token %}
                
                <label for="improve" id="improve">__Veuillez Choisir l'Algorithme et Introduire le poids max du sac à dos et l'instance__</label>
                <br><br>
                
                    <select  id="methode" name="methode" required >
                      <option></option>
                        <option>B&B -avec Elagage</option>
                        <option>B&B -sans Elagage</option>
                        <option>Prog Dynamique</option>
                        <option>Tri par Poids</option>
                        <option>Tri par Val</option>
                        <option>Tri par Densite</option>
                        <option>Recuit Simule</option>

                        <option>Fireworks</option>
                        <option>Imperialist cometitive </option>
                        <option>Methode Hybride -L</option>
                        <option>Methode Hybride -H</option>

                      </select>
                      <br><br>
                      <input type="text" placeholder="Poids_max" id="poids" name="poids" required> 
                      <br> <br>
                      <input id="inp" type="file" name="document" required >
                        <br> <br> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <button type="submit">Executer!</button>
                </div>
              </form>
              <br>
              {% if uploaded_file_url %}
              <form  id="survey-form1" class="col-45"  method="post"  data-scroll-reveal="enter from the bottom after 1s">
              
                                           
           
                <label>__Resultat de la methode : {{ meth }} __</label>
                    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    <p>Tempsexec: {{ tempsexec }}</p>

                    <p>Gain: {{ gain }}</p>
                    <p>Poids: {{ poids }}</p>

            
            </form>


              {% endif %}
            
           
           

        </div> <!-- End Container -->
    </div><!-- End Tab Pane -->
  </div>
    <!-- /Google Map -->
    <div class="tab-pane fade" id="tab2">
       
         
          <div class="tab-pane fade in active" id="tab1">
           
        
            <div class="container">  


            <form id="survey-form" class="col-25" method="post" enctype="multipart/form-data" data-scroll-reveal="enter from the bottom after 0.4s">
                {% csrf_token %}
                
                <label for="improve" id="improve">__Veuillez Choisir l'Algorithme et Introduire le poids max du sac à dos et l'instance__</label>
                <br><br>
                
                    <select  >
                        <option>Recuit Simule</option>
                        <option>Fireworks </option>
                        <option>Imperialist cometitive </option>
                      </select>
                      <br>
                      <br><input type="text" placeholder="nb-etincelles"><input type="text" placeholder="amplitude"><input type="text" placeholder="nb-mutation"><input type="text" placeholder="taille initiale"><input type="text" placeholder="iterations">
                      <br><br>
                      <input type="text" placeholder="Poids_max"> 
                      <br> <br>
                      <input id="inp" type="file" name="document" >
                        <br> <br> 
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <button type="submit">Executer!</button>
                </div>
              </form>
              <br>
              {% if uploaded_file_url %}
              <form  id="survey-form1" class="col-45"  method="post"  data-scroll-reveal="enter from the bottom after 1s">
              
                                           
                <label>__Resultat de la methode : {{ meth }} __</label>

                    
                    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                    <p>Tempsexec: {{ tempsexec }}</p>

                    <p>Gain: {{ gain }}</p>
                    <p>Poids: {{ poids }}</p>

            
            </form>


              {% endif %}
            
           
           
            </div>
        </div> <!-- End Container -->
    </div><!-- End Tab Pane -->

        
        
        
        
        </div><!-- End Tab Pane -->

    </div>
</div><!-- /end my tab content -->





 {% endblock %}

                       